.main-content {
  background: #e5a174;
  margin: 4em auto 0;
  width: 600px;
  border-radius: .5rem;
}

.ticket {
  display: grid;
  grid-template-columns: auto 145px;
  padding: 0.5em;
}

.ticket__main {
  display: grid;
  text-align: center;
}

.header {
  font-size: larger;
  text-transform: uppercase;
  border: 1px solid black;
}

.manager {
  border-bottom: 1px solid;
  padding-top: .5em;
}

.manager span {
  font-variant: small-caps;
}

.date {
  border-bottom: 1px solid;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 0.15em;
  font-size: 1.5rem;
  padding-top: .5em;
}

.event {
  border-bottom: 1px solid;
  padding-top: .5em;
}

.info__item {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.price {
  text-transform: uppercase;
  padding-top: .5em;
}

.ticket__side {
  display: grid;
  box-sizing: border-box;
}

.ticket__side .info {
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  padding-right: 3em;
}

.info__type {
  border-right: 1px solid;
  text-transform: uppercase;
  padding: .15em;
}

.info__place {
  padding: .15em;
}

@font-face {
  font-family: "Fette Bauersche Antiqua UNZ1";
  src: url("/fonts/Fette Bauersche Antiqua UNZ1.ttf") format("truetype");
}
.info__date {
  font-family: "Fette Bauersche Antiqua UNZ1";
  border-right: 1px solid;
  font-size: 1.25em;
  font-weight: 900;
  padding: .25em;
  letter-spacing: .1em;
}

@font-face {
  font-family: "Old Typewriter2.0";
  src: url("/fonts/Old Typewriter2.0.ttf") format("truetype");
}
.info__payment {
  font-family: "Old Typewriter2.0";
  border-right: 1px solid;
  text-transform: uppercase;
  padding: .25em;
}

.info__company {
  border-right: 1px solid;
  text-transform: uppercase;
  padding: .15em;
}
