.main-content {
  background: #e5a174;
  margin: 4em auto 0;
  width: 600px;
  border-radius: 0.5rem;
}

.ticket {
  display: grid;
  grid-template-columns: auto 200px;
  padding: 0.5em;
}

.ticket__main {
  display: grid;
  text-align: center;
}

@font-face {
  font-family: 'Larson Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Larson Regular'), url('/fonts/LarsonDafont.woff') format('woff');
  }
.header {
  font-family: "Larson Regular";
  font-size: 2em;
  font-variant: small-caps;
  border: 1.5px solid black;
}

.manager {
  border-bottom: 1.5px solid;
  padding-top: 0.2em;
  font-family: "serif";
  font-size: 1.1em;
}

.manager span {
  font-variant: small-caps;
}

.date {
  border-bottom: 1.5px solid;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 0.15em;
  font-size: 1.3rem;
  padding-top: 0.2em;
}

.event {
  border-bottom: 1.5px solid;
  padding-top: 0.2em;
}

.info__item {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  padding-bottom: 0.2em;
}

@font-face {
  font-family: "showguide";
  src: url("/fonts/showguide.TTF") format("truetype");
}
.info__name {
  font-family: "showguide";
  font-size: 2.19em;
}

@font-face {
  font-family: "gentlemancallercond";
  src: url("/fonts/gentlemancallercond.ttf") format("truetype");
}
.price {
  font-family: "gentlemancallercond";
  font-size: 2.5em;
  text-transform: uppercase;
  padding-top: 0.1em;
}

.ticket__side {
  display: grid;
  box-sizing: border-box;
}

.ticket__side .info {
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  padding-right: 3em;
}

.info__type {
  font-family: "gentlemancallercond";
  font-size: 2.5em;
  border-right: 1.5px solid;
  text-transform: uppercase;
  padding: 0.15em;
}

.info__place {
  font-size: large;
  font-weight: 900;
  letter-spacing: 0.1em;
  padding: 0.15em;
}

@font-face {
  font-family: "Fette Bauersche Antiqua UNZ1";
  src: url("/fonts/Fette Bauersche Antiqua UNZ1.ttf") format("truetype");
}
.info__date {
  font-family: "Fette Bauersche Antiqua UNZ1";
  border-right: 1.5px solid;
  font-size: 1.25em;
  font-weight: 900;
  padding: 0.25em;
}

@font-face {
  font-family: "Old Typewriter2.0";
  src: url("/fonts/Old Typewriter2.0.ttf") format("truetype");
}
.info__payment {
  font-family: "Old Typewriter2.0";
  font-size: 1em;
  border-right: 1.5px solid;
  text-transform: uppercase;
  padding: 0.25em;
}

.info__company {
  font-family: "Arial Black";
  font-size: 0.68em;
  border-right: 1.5px solid;
  text-transform: uppercase;
  padding: 0.15em;
}
