.main-content {
  background: #e5a174;
  margin: 4em auto 0;
  width: 600px;
}

.ticket {
  display: grid;
  grid-template-columns: auto 145px;
  padding: 0.5em;
}

.ticket__main {
  display: grid;
  text-align: center;
}

.header {
  font-size: larger;
  text-transform: uppercase;
  border: 1px solid black;
}

.manager {
  border-bottom: 1px solid;
}

.manager span {
  font-variant: small-caps;
}

.date {
  border-bottom: 1px solid;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bolder;
  letter-spacing: 0.15em;
  font-size: 1.5rem;
}

.event {
  border-bottom: 1px solid;
}

.info__item {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.price {
  text-transform: uppercase;
}

.ticket__side {
  display: grid;
  box-sizing: border-box;
}

.ticket__side .info {
  text-align: center;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
}

.info__type {
  border-right: 1px solid;
  text-transform: uppercase;
}

.info__date {
  border-right: 1px solid;
  text-transform: uppercase;
}

.info__payment {
  border-right: 1px solid;
  text-transform: uppercase;
}

.info__company {
  border-right: 1px solid;
  text-transform: uppercase;
}
